.hr {
  height: 1px;
  background: white;
  margin-top: -27px;
  margin-bottom: 2px;
}

.descr {
  color: white;
  font-family: "Lilita One", sans-serif;
  font-size: 20px;
}

.btn {
  border: 2px solid white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: "Lilita One", sans-serif;
  transition: all 500ms ease;
  margin-right: 25px;
}

.btn:hover {
  background-color: white;
  color: black;
}

.carContainer {
  margin-bottom: 50px;
  position: relative;
}

.carControlContainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.flag {
  position: absolute;
  height: 150px;
  width: 130px;
  right: 100px;
  top: -13px;
}

.btn:disabled {
  background-color: orangered;
  border: 1px solid black;
  color: black;
}
